@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800&display=swap');
@import './normalize.scss';
@import './mixins.scss';
@import './type.scss';

// Vars
$color-secondary: #00AB84;

.wrapper {
  max-width: 100%;
  position: relative;
  overflow: hidden;
  font-family: 'Open Sans', Arial, sans-serif;

  nav {
    width: 100%;
    padding: 0 3rem;

    ul {
      display: flex;
      justify-content: space-between;
      margin: 24px 0;
      padding: 0;

      li {
        list-style-type: none;
        color: $color-secondary;

        a {
          font-weight: 800;
          color: $color-secondary;
        }
      }
    }
  }

  .c-header {
    background-color: #f9f9f9;
    padding: 1rem 2rem;

    @include mq-large {
      position: fixed;
      width: 20%;
      height: 100vh;
      padding-left: 3rem;
    }

    h1,
    h3 {
      font-size: 32px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 12px 0;

      @include mq-large {
        margin: 24px 0;
        font-size: 48px;
      }

      span {
        font-weight: 800;
        color: $color-secondary;
        text-transform: uppercase;
      }
    }
  }

  .c-bio {
    margin-top: 1rem;
    display: flex;
    align-items: center;

    @include mq-large {
      flex-direction: column;
      margin-top: 5rem;
      align-items: flex-start;
    }

    &__image {
      border-radius: 50%;
      width: 100%;
      margin-right: 1rem;
      filter: grayscale(100%);
    }

    p {
      width: 70%;
      line-height: 22px;
    }

    .c-bio__social {
      margin-top: 1rem;
    }
  }

  .c-main {
    display: flex;
    flex-direction: column;
    padding: 2rem;

    @include mq-large {
      justify-content: space-between;
      max-width: 1200px;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 0 0 25%;
    }
  }

  .c-post-card {
    width: 90%;
    padding: 1rem;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    @include mq-large {
      flex-basis: 45%;
    }

    h3 {
      font-weight: 400;
      font-size: 28px;
      margin: 12px 0;
    }

    small {
      display: block;
      font-weight: 800;
      margin-bottom: 24px;
      color: $color-secondary;
    }

    section {
      font-weight: 300;
    }
  }

  .c-post {
    padding: 0 1rem;

    @include mq-large {
      padding: 0 3rem;
      width: 75%;
    }

    header {
      padding-left: 24px;
      margin: 50px 0;
      border-left: solid 5px $color-secondary;
    }

    h2,
    h3 {
      font-weight: 400;
    }

    p,
    li {
      font-weight: 300;
      line-height: 28px;
    }

    blockquote {
      padding-left: 24px;
      border-left: solid 5px $color-secondary;
    }
  }

  .c-post-card--featured {
    flex-basis: 100%;
    width: 90%;

    @include mq-large {
      width: 100%;
    }
  }
}